@media (max-width: 1600px) {
    .owl-nav {
        position: relative;
        top: -5.625rem;
    }
    
    .owl-prev {
        position: absolute;
        left: -1rem;
    }
    
    .owl-next {
        position: absolute;
        right: -1rem;
    }
    .fd-poster {
        width: auto;
        height: 11rem;
    }

    .fd-inner {
    
        width: auto;
        height: 11rem;
    }
    
}
@media (max-width: 1200px) {
    p {
        font-size: 1rem;
    }

    .welcome {
        height: 19.6875rem;
    }

    .owl-nav {
        position: relative;
        top: -5.625rem;
    }
    
    .owl-prev {
        position: absolute;
        left: -1rem;
    }
    
    .owl-next {
        position: absolute;
        right: -1rem;
    }
}
@media (max-height: 1800px) {
    .head-block {
        min-height: 40rem;
}
}

@media (max-width: 1000px) {
    html {
        font-size: 12px;
    }

    .fd-poster {
        width: auto;
        height: 15rem;
    }
    
    .fd-inner {
        width: 16rem;
        height: 15rem;
    }

    .fd-description {
        padding: 1.6375rem;
    }
  
    .fd-text1 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        line-height: 1.5rem;
    }
 
    .fd-hr {
        margin: 0 0 0.875rem;
    }
    .owl-nav {
        position: relative;
        top: -9rem;
    }
 
}

@media (max-width: 800px) {
    .head-container {
        width: 48rem;
    }

    #advantages-block {
        width: 48rem;
    }

    .container {
        width: 48rem;
    }

    .present-wrap {
        width: 48rem;
    }

    .d {
        width: 48rem;
    }

    .fd {
        width: 48rem;
    }

    .owl-nav {
        position: relative;
        top: -7.625rem;
    }

    #films {
        width: 48rem;
    }

    .logo {
        width: 20%;
        padding-left: 0.8rem;
    }

    .menu li {
        padding-right: 1rem;
    }

    .head-block__menu {
        
        font-size: 0.8rem;
        width: 86%;
    }

    .head-block__city {
        float: left;
        margin-left: 2.3rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    .theme-sub {
        font-size: 2.725rem;
    }

    .head-block {
        min-height: 0;
    }

    .theme {
        text-align: center;
        padding-bottom: 17rem;
    }

    .welcome {
        width: 28.55rem;
        top: -11.125rem;
    }

    .present-content {
        padding-top: 0.85rem;
        width: 40.8125rem;
        position: absolute;
        right: 0;
        top: 12.9rem;
    }

    .present-text {
        padding-top: 1.0625rem;
    }

    .take-present {
        margin-top: 0;
    }

    .fd-description {
        padding: 0.7375rem;
    }

    .fd-text1 {
        font-size: 1.6875rem;
        margin: 0 0 0.325rem;
        line-height: 1.5rem;
    }

    .fd-text2 {
        font-size: 0.925rem;
    }



}

@media (max-width: 600px) {
    .head-container {
        width: 37rem;
    }

    #advantages-block {
        width: 37rem;
    }

    .container {
        width: 37rem;
    }

    .present-wrap {
        width: 37rem;
    }

    .d {
        width: 37rem;
    }

    .fd {
        width: 37rem;
    }

    #films {
        width: 37rem;
    }

    .menu-burger span,
    .menu-burger::before,
    .menu-burger::after {
        content: "";
        width: 100%;
        background: #ffffff;
        height: 1px;
        display: block;
        position: absolute;
    }

    .menu-burger {
        position: relative;
        width: 20px;
        height: 21px;
        cursor: pointer;
        margin-left: 5rem;
    }

    .menu-burger span {
        top: 50%;
    }

    .menu-burger::before {
        top: 0;
    }

    .menu-burger::after {
        bottom: 0;
    }

    .menu2 {
        display: block;
        float: left;
    }

    .logo {
        width: 34%;
    }

    .head-block__city {
        margin-left: 9.3rem;
    }

    .menu {
        display: none;
        position: fixed;
       
        left: 0;
        top: 0;
        bottom: 0;
        padding: 3rem 1rem;
        background: rgb(45, 76, 0, 0.7);
        z-index: 2;
    }

    .menu li {
        clear: both;
        display: block;
        margin-bottom: 1rem;
        line-height: 1rem;
    }

    .welcome {
        position: static;
        width: 100%;
    }

    .theme {
        padding-bottom: 10rem;
    }

    .prim {
        height: 13.625rem;
        width: 13.625rem;
    }

    .present-content {
        top: 10.9rem;
    }
    .advantages {
        margin: 0 auto;
    }

    .adv-wrap {
        flex-wrap: wrap;
        flex-basis: 50%;
        justify-content: center;
    }

    .owl-nav {
        position: relative;
        top: -16.625rem;
        display: block;
    }

    .fd {
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "p-0 p-0 p-0"
            "p-1 p-1 p-1"
            "p-2 p-2 p-2";
    }

    .p-0 {
        grid-area: p-0;
    }

    .p-1 {
        grid-area: p-1;
    }

    .p-2 {
        grid-area: p-2;
    }

    .p-3 {
        display: none;
    }

    .p-4 {
        display: none;
    }

    .p-5 {
        display: none;
    }

    .p-6 {
        display: none;
    }

    .p-7 {
        display: none;
    }

    .p-8 {
        display: none;
    }
    .item {
        width: auto;
        margin: auto;
    }
    .fd-poster {
        width: auto;
        height: 23rem;
    }
    .fd-inner {
       height: 23rem;
        width: 23rem;
        margin: auto;
    }
    
    .fd-description {
        border-radius: 2rem;
    }
    .fd-text1 {
        font-size: 3rem;
        padding: 1rem;
        line-height: 2.5rem;
    }
  
    .fd-text2 {
        font-size: 2rem;
        padding: 1rem;
    }
    .fd-hr {
        width: 7rem;
        height: 0.5rem;
        margin-left: 2rem;
    }

    .fd-links {
        margin: auto;
    }

    .fd-l + .fd-l {
        margin-left: 2rem;
    }

}

@media (max-width: 480px) {
    .head-container {
        width: 24rem;
    }

    #advantages-block {
        width: 24rem;
    }

    .container {
        width: 24rem;
    }

    .present-wrap {
        width: 24rem;
    }

    .d {
        width: 24rem;
    }

    .fd {
        width: 24rem;
    }

    #films {
        width: 24rem;
    }

    .head-block__city {
        display: none;
    }
    .menu2 {
        float: left;
        margin-left: 3rem;
    }

    .menu-burger {
        float: left;
        margin-left: 0;
    }
    .logo {
        width: 25%;
    }

    header {
        margin-bottom: 10.8125rem;
    }

    .theme-title {
        padding-bottom: 2.75rem;
    }

    h1 {
        line-height: 4rem;
    }

    .welcome {
        width: 23.55rem;
        height: 25.6875rem;
    }

    .welcome-content {
        width: 19.6875rem;
        padding: 2.375rem 1.625rem 2.0625rem 2.375rem;
    }

    .adv-wrap2 {
        padding-bottom: 4rem;
    }
    .adv-wrap {
        flex-direction: column-reverse;
    }

    #films {
        margin-top: 3rem;
    }

    .container {
        overflow: scroll;
    }

    .mtable tr td:nth-of-type(2) {
        padding-right: 0;
    }

    .movie-list .container .mtable tr td:nth-of-type(3) {
        padding: 1.375rem 0 0.875rem 1rem;
    }

    .movie-list .container .mtable th:nth-of-type(3) {
        padding: 1.125rem 0 1rem 1rem;
    }

    .movie-list .container .mtable tr td:nth-of-type(4) {
        padding: 2.25rem 1rem 0.875rem 1rem;
    }

    .ggg {
        padding: 0 2.25rem 0 2.25rem;
    }

    .present-content {
        text-align: center;
        width: 20.8125rem;
    }
    .present {
        height: 55rem;
    }

    .d {
        margin-top: 5rem;
    }

    .fd-text1 {
        font-size: 2rem;
        padding: 1rem;
    }

    .fd-text2 {
        font-size: 2rem;
        padding: 0 0 0 1rem;
    }

    .fd-hr {
        margin-left: 1rem;
    }

    .owl-nav {
        position: relative;
        top: -12.625rem;
    }
    input[type="file"] + label {
        padding: 0.9375rem 0 0.9375rem 0;
    }
    #modalPresent .modal,
    #orderForm .modal,
    #cityForm .modal {
        width: 20rem;
    }

}

@media(max-width: 320px) {
    input {
        width: 20rem;
    }
    .head-container {
        width: 20rem;
    }

    #advantages-block {
        width: 20rem;
    }

    .container {
        width: 20rem;
    }

    .present-wrap {
        width: 20rem;
    }

    .d {
        width: 20rem;
    }

    .fd {
        width: 20rem;
    }

    #films {
        width: 20rem;
    }

    header {
        margin-bottom: 10.8125rem;
    }
    .menu2 {
        margin-left: 1rem;
    }

    .theme-title {
        padding-bottom: 2.75rem;
    }

    h1 {
        line-height: 4rem;
    }

    .welcome {
        width: 20rem;
        height: 25.6875rem;
    }

    .welcome-content {
        width: 16rem;
        padding: 2.375rem 1.625rem 2.0625rem 2.375rem;
    }

    .adv-wrap2 {
        padding-bottom: 4rem;
    }
    .adv-wrap {
        flex-direction: column-reverse;
    }

    #films {
        margin-top: 3rem;
    }

    .container {
        overflow: scroll;
    }

    .mtable tr td:nth-of-type(2) {
        padding-right: 0;
    }

    .movie-list .container .mtable tr td:nth-of-type(3) {
        padding: 1.375rem 0 0.875rem 1rem;
    }

    .movie-list .container .mtable th:nth-of-type(3) {
        padding: 1.125rem 0 1rem 1rem;
    }

    .movie-list .container .mtable tr td:nth-of-type(4) {
        padding: 2.25rem 1rem 0.875rem 1rem;
    }

    .ggg {
        padding: 0 2.25rem 0 2.25rem;
    }
    .present {
        height: 57rem;
    }
    .present-content {
        text-align: center;
        width: 20rem;
    }

    .d {
        margin-top: 1rem;
    }

    .fd-text1 {
        font-size: 2rem;
        padding: 1rem;
    }

    .fd-text2 {
        font-size: 2rem;
        padding: 0 0 0 1rem;
    }

    .fd-hr {
        margin-left: 1rem;
    }

    .owl-nav {
        position: relative;
        top: -12.625rem;
    }
    #map {
        width: 100%;
        margin: auto;
    }
    .ftr {
        width: 100%;
        margin: auto;
    }
    .ficon{
        padding: 0rem;
    }
    .ficon + .ficon {
        padding-left: 0.1rem;
    }
    .footer-text {
        width: 20rem;
    }

    form {
        width: 20rem;
        margin: auto;
    }
    input, textarea, select {
        padding: 0.9375rem  0 0.6875rem;
        }
    input[type="file"] + label {
        padding: 0.9375rem 0 0.9375rem 0;
    }

    #modalPresent .modal,
    #orderForm .modal,
    #cityForm .modal {
        width: 20rem;
    }

}

